body {
  display: block;
  margin-top: 8px;
  margin-left: 8%;
  margin-right: 8%;
  font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 11px;
}

a {
  font-size: 14px;
  color:black;
}

a:hover {
  color:black;
  text-decoration: none;
}

a:visited {
  color: #bbb3b3;

}

.hackernavbar {
  background-color: #ff6600;
  color: black;
  height: 2.4em;
}

.stories {
  padding-top: 10px;
  background-color: #eaeaea6b;
}

li {
  height: 3.4em;
  padding-bottom: 5px;

}

li:before {
  color:red;
}

@media only screen and (max-width: 750px) {
  body {
    margin: 0;
    font-size: 13px;
  }

  li {
    height:1%;
  }
}